@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/Helvetica-Bold.ttf") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/Helvetica.ttf") format("woff");
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

.ov-x {
  overflow-x: hidden;
}

.hidden-x {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.hidden-x video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.over-mp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.over-mp::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.bg-video {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Helvetica Now Display", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #101010;
  padding: 40px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.input-reset {
  padding: 0;
  margin: 0;
  outline: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.logo span:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f4;
}
.logo span:nth-child(2) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: center;
  color: #101010;
  border-radius: 4px;
  padding: 4px;
  width: 78px;
  height: 24px;
  background: #f4f4f4;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  max-height: 1600px;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 115%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f4;
}

.hidden-x {
  position: absolute;
  width: 100%;
}

.hidden-x::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#101010));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #101010);
  pointer-events: none; /* чтобы клики проходили через псевдоэлемент */
}

.header {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(58, 58, 58, 0.85);
  padding: 8px 0;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
.header__list-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
}
.header__num {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #71e873;
}

.header-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

.header-lang__list {
  position: relative;
}
.header-lang__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 4px 0 8px 0;
}
.header-lang__list-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #f4f4f4;
}
.header-lang__list .header-lang__dropdown {
  position: absolute;
  top: 18px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 60px;
  height: 30px;
}

.header-lang:hover .header-lang__dropdown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header-lang__list:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-lang {
  margin: 4px 0 0 0;
  width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.hero__text {
  max-width: 505px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}
.hero .logo {
  margin: 56px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: center;
}
.hero__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f4;
  margin: 0 0 52px 0;
}
.hero__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  margin: 0 auto 32px auto;
  color: #f4f4f4;
  max-width: 360px;
}
.hero__btn {
  width: 1600px;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0)), color-stop(57.29%, rgba(16, 16, 16, 0.65)), color-stop(77.08%, rgba(16, 16, 16, 0.85)), to(#101010));
  background: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.65) 57.29%, rgba(16, 16, 16, 0.85) 77.08%, #101010 100%);
  text-transform: uppercase;
  padding: 22px 36px;
  width: 257px;
  height: 60px;
  background: #53c855;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 132px 0 0 0;
  position: relative;
}
.hero__list::before {
  content: "";
  position: absolute;
  left: 0;
  top: -28px;
  right: 0;
  background-color: #383838;
  width: 100%;
  height: 1px;
  opacity: 0.4;
}
.hero__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 132px;
}
.hero__list-sep {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #757575;
  padding-bottom: 8px;
}
.hero__list-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #d8d8d8;
  padding-bottom: 26px;
}
.hero__list-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #757575;
}

.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 378px 4px 378px;
  grid-template-columns: repeat(2, 378px);
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__list-item {
  padding: 40px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background: #151515;
  min-height: 240px;
  position: relative;
}
.about__list-item img {
  display: block;
  bottom: 20px;
  right: 20px;
  position: absolute;
}
.about__list-item svg {
  display: block;
  width: 24px;
  height: 24px;
}
.about__list-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #f4f4f4;
}
.about__list-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #f4f4f4;
  padding: 36px 0 20px 0;
}
.about__title {
  padding: 112px 0 38px 0;
}

.exclusive__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 378px 4px 378px;
  grid-template-columns: repeat(2, 378px);
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.exclusive__list-item {
  padding: 40px;
  border-radius: 20px;
  min-height: 240px;
  position: relative;
}
.exclusive__list-item:nth-child(1) {
  border: 1px solid #181818;
  border-left: none;
  border-top: none;
}
.exclusive__list-item:nth-child(4) {
  border: 1px solid #181818;
  border-right: none;
  border-bottom: none;
}
.exclusive__list-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #f4f4f4;
  padding: 24px 0;
}
.exclusive__list-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #d8d8d8;
}
.exclusive__disc {
  max-width: 760px;
  background-color: #151515;
  margin: 80px auto 62px auto;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
  background: #151515;
}
.exclusive__disc img {
  position: absolute;
  bottom: 0;
  left: 32px;
}
.exclusive__disc-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #d8d8d8;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  left: 52px;
}
.exclusive__title {
  padding: 112px 0 38px 0;
}

.clients .title {
  margin: 90px 0 48px 0;
}

.swiper-clients {
  width: 100%;
  margin: 0 0 120px 0;
  height: 500px;
  border-radius: 16px;
}

.swiper-clients-slide {
  max-width: 1200px;
}
.swiper-clients-slide .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 32px;
  border: 1px solid #151515;
  border-radius: 16px;
  width: 100%;
  height: 420px;
  background: #101010;
}
.swiper-clients-slide .slide-content .ww {
  padding: 80px 0 40px 0;
}
.swiper-clients-slide .slide-content img {
  padding: 80px 0 0 0;
}
.swiper-clients-slide .slide-content .swiper-clients-subtitle {
  max-width: 760px;
}
.swiper-clients-slide .slide-content .slide-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #4a4a4a;
  padding: 0 0 46px 0;
}

.swiper-clients-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #f4f4f4;
  text-align: center;
}

.swiper-slide.swiper-slide-active .slide-content {
  background: #151515;
  border: 1px solid #151515;
}

.about__list-item {
  cursor: pointer;
}

.info__title {
  max-width: 760px;
  margin: 0 auto;
}
.info__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: #4a4a4a;
  max-width: 760px;
  margin: 0 auto;
  padding-bottom: 116px;
}
.info .option {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #53c855;
  padding: 46px 0 26px 0;
  text-align: center;
}

.info__pay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 375px 10px 375px;
  grid-template-columns: repeat(2, 375px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0 0 80px 0;
}
.info__pay-card {
  padding: 32px;
  border: 1px solid #181818;
  border-radius: 8px;
  background: #101010;
}
.info__pay-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #f4f4f4;
  padding: 34px 0 12px 0;
}
.info__pay-subtitle {
  padding: 0 0 44px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #757575;
}
.info__pay-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #d8d8d8;
  max-width: 315px;
}
.info__pay-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: center;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  padding: 22px 36px;
  margin: 94px 0 0 0;
}

.info__pay-sec {
  color: #101010;
  background: #58d65a;
  border: 3px solid #58d65a;
}

.form__popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #71e873;
  width: 60%;
  height: 80%;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}
.form__popup.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: all;
}
.form__popup-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #101010;
}

.form__popup__inner {
  max-width: 760px;
  margin: 0 auto;
}

.btn-close {
  position: absolute;
  right: 38px;
  top: 38px;
  z-index: 101;
}

.btn-end {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #101010;
  padding: 22px 36px;
  height: 60px;
  background: #101010;
  width: 100%;
}

.form__copy {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #101010;
  padding: 20px 0 0 0;
}
.form__copy span {
  color: #4a4a4a;
}

.footer {
  background-color: #000;
  padding: 65px 0;
}
.footer__info-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 0 0 32px 0;
  color: #757575;
}
.footer__info-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  margin: 0 0 28px 0;
}
.footer__info-green {
  color: #53c855;
}
.footer__tel {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin: 20px 0 0 0;
  border: 2px solid #fff;
  padding: 20px 50px;
  display: inline-block;
}
.footer__title {
  padding: 0 0 60px 0;
  text-align: left;
}
.footer__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.footer__form label p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #757575;
}
.footer__form-input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 3px #fff solid;
  outline: none;
  padding: 14px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
}
.footer__form-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  height: 60px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 0 82px 0 0;
}
.footer__list-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #757575;
}
.footer__list-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}

.footer-start {
  padding: 0 0 80px 0;
  border-bottom: 1px solid #1a1a1a;
}

a.top {
  position: absolute;
  right: 0;
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 32px 0;
}
.footer-end .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 106px;
  position: relative;
  padding: 0 100px 0 0;
}

.footer__list.footer__list-sm .footer__list-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #f4f4f4;
}

.footer__list-item {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__list-item .tp {
  position: absolute;
  top: 0;
  right: -16px;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin: 18px 0 0 0;
}
.footer__soc-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #f4f4f4;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0 0 0;
}

.footer__pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  position: relative;
  left: 45px;
}

.footer__pr-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #757575;
}

.footer__bottom-copyright {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  color: #757575;
}

.footer__select {
  background-color: #000;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 47.09px;
  outline: none;
  border: none;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.form__popup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__popup-input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000;
  width: 100%;
  padding: 16px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}
.form__popup-input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}
.form__popup-input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}
.form__popup-input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}
.form__popup-input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}
.form__popup-input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
  color: #101010;
}

.form__popup-sec p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #101010;
}

.form__popup-tel {
  margin-bottom: 32px;
  margin-top: 32px;
}

.form__popup-email {
  margin-bottom: 52px;
}

.hero__btn {
  color: #101010 !important;
}