*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-reset {
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}